/* .App {
  text-align: center;
} */
body{
  margin:24px;
}
.movie-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  justify-items: center;
  gap:1rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.movie-post{
  width:340px;
  height:600px;
  object-fit: cover;
}
.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-container{
  width:340px;
}
.movie-name{
  margin-top: 5px;
  margin-bottom: 12px;
}
.movie-rating{
  margin-top: 12px;
  font-size: 18px;
}
.movie-summary{
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}
.button-container{
  display:flex;
  gap:10px;
}
.like-button, .dislike-button{
  font-size: 18px;
  background-color: white;
  border:none;
  margin-left:-10px;
}

i{
  font-size:18px;
}
.toggle-button{
  background-color: white;
  border: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
